.response-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
}

.response-box {
    width: 30%;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f4f4f4;
}

h2 {
    color: rgb(12, 93, 25);
}